# LINE 自定義字型替換 (浪漫雅圓)
# 支援 iOS LINE 字型下載替換

[rewrite_local]
^https?:\/\/talk-asset\.line-scdn\.net\/secure\/[^\/]+\/.*\.zip url 302 https://raw.githubusercontent.com/w902287/line-custom-font/2bde2f430dc3faa1f7b7d9fa13e137411588b95d/TT07-armochih32c90b5_md_scale.zip

[mitm]
hostname = talk-asset.line-scdn.net
