# LINE 字型傳輸基準測試：QX 內部改寫上游 URL
# 不使用 $task.fetch／script-response-body，避免腳本下載逾時

[rewrite_local]
^https?:\/\/talk-asset\.line-scdn\.net\/secure\/[^\/]+\/.*\.zip url script-request-header https://raw.githubusercontent.com/w902287/line-custom-font/main/line-font-direct.js

[mitm]
hostname = talk-asset.line-scdn.net
